
 
  body{
       background-color:Pink;
       text-align:center;
       color:blue;
       font-size:24px;
       background:purple;
       border-style:ridge;
      font-family:cursive;
  }
  h1{
      color:Red;
  }
  