
 
  body{
       background-color:rgb(231, 179, 187);
       text-align:center;
       color:white;
       font-size:24px;
       background:rgb(207, 170, 207);
       border-style:ridge;
      font-family:cursive;
  }
  h1{
      color:hotpink;
  }
  